In [1]:
import pandas as pd

# Đọc 3 file 
df_basics = pd.read_csv('title.basics.tsv', sep='\t', low_memory=False)
df_ratings = pd.read_csv('title.ratings.tsv', sep='\t', low_memory=False)
df_crew = pd.read_csv('title.crew.tsv', sep='\t', low_memory=False)

In [2]:
# THÊM THUỘC TÍNH CẦN THIẾT

In [3]:
# Tạo thêm thuộc tính primaryTitleLength bằng độ dài tên chính primaryTitle trong file title.basics.tsv --> thêm vào file title.basics
# Tạo thêm thuộc tính numGenres là số lượng thể loại được tính toán từ thuộc tính Genres trong file title.basics.tsv --> thêm vào file title.basics
# Tạo thêm thuộc tính writerCount là số lượng nhà văn được tính từ thuộc tính Writers trong file title.crew.tsv --> thêm vào file title.crew

In [4]:
# Đảm bảo tất cả các giá trị trong cột 'primaryTitle' là chuỗi và xử lý giá trị thiếu
df_basics['primaryTitle'] = df_basics['primaryTitle'].astype(str).fillna('')

# Tạo cột mới 'titleLength' chứa độ dài của mỗi giá trị trong cột 'primaryTitle'
df_basics['titleLength'] = df_basics['primaryTitle'].apply(lambda x: len(x))

# Tạo cột mới 'numGenres' là số lượng thể loại từ 'genres'
df_basics['numGenres'] = df_basics['genres'].apply(lambda x: len(x.split(',')) if pd.notnull(x) else 0)

# Tạo thêm cột 'writerCount' là số lượng nhà văn từ cột 'writers'
df_crew['writerCount'] = df_crew['writers'].apply(lambda x: len(x.split(',')) if pd.notnull(x) else 0)

In [5]:
# GỘP 3 FILE

In [6]:
# Gộp 3 files thông qua thuộc tính 'tconst'

# Tạo ra file mới 'merged_df'
merged_df = df_basics.merge(df_ratings, on='tconst', how='inner')  # Inner join (keeps all rows)
merged_df = merged_df.merge(df_crew, on='tconst', how='inner')  # Merge with crew data

# Chuyển file thành định dạng csv
merged_df.to_csv('merged_data.tsv', sep='\t', index=False)  # Without index column

# In ra thông số
print(merged_df.shape)

(1426606, 16)

In [7]:
# XỬ LÝ GIÁ TRỊ NULL

In [8]:
# Đếm số lượng dòng có ít nhất 1 giá trị null
missing_row_count = merged_df.isnull().any(axis=1).sum()
print(missing_row_count)

3

In [9]:
# Xử lý giá trị NULL
# gán merged_df vào 1 dataframe khác và sử dụng hàm dropna
filtered_df = merged_df.dropna()

# gán lại dataframe vào merged_df ban đầu 
merged_df = filtered_df

# in ra số thông số merged_df
print(merged_df.shape)

(1426603, 16)

In [10]:
# Xử lý cột 'genres'
# Tạo ra dataframe mới là filtered_df = merged_df

# Xoá các hàng có cột genres chứa giá trị '\N' 
filtered_df = merged_df[~merged_df['genres'].str.contains("\\\\N")]  

# in ra thông số filtered_df - thông số của dataframe sau khi xoá các phần tử NULL ở cột 'genres'
print("filtered_df: ")
print(filtered_df.shape)

filtered_df:
(1406637, 16)

In [11]:
# Xử lý giá trị NULL với cột 'genres'
# gán filtered_df lại cho merged_df
merged_df = filtered_df

# In ra thông số của merged_df
print("merged_df: ")
print(merged_df.shape)

merged_df:
(1406637, 16)

In [12]:
# Xử lý cột 'runtimeMinutes'
# Xoá các hàng có cột runtimeMinutes chứa giá trị '\N' 
filtered_df = merged_df[~merged_df['runtimeMinutes'].str.contains("\\\\N")]  

# in ra thông số filtered_df - thông số của dataframe sau khi xoá các phần tử NULL ở cột 'runtimeMinutes'
print("filtered_df: ")
print(filtered_df.shape)

filtered_df:
(1003852, 16)

In [13]:
# Xử lý giá trị NULL với cột 'runtimeMinutes'

# gán filtered_df lại cho merged_df
merged_df = filtered_df

# In ra thông số của merged_df
print("merged_df: ")
print(merged_df.shape)

merged_df:
(1003852, 16)

In [14]:
# XỬ LÝ PHẦN TỬ OUTLIERS

In [15]:
import pandas as pd
import numpy as np
from scipy import stats

# Hàm tìm outliers sử dụng z-scores
def identify_outliers_zscore(df, threshold=3):
    # chọn ra các cột có kiểu dữ liệu là số
  numerical_cols = df.select_dtypes(include=np.number) 
    #khởi tạo 1 dataframe rỗng
  outliers_df = pd.DataFrame() 
    # duyệt qua từng cột
  for col in numerical_cols:
      # tính absolute z-scores
    z_scores = np.abs(stats.zscore(df[col])) 
      # Lấy dòng với outlier trong từng cột
    outlier_rows = df[z_scores > threshold].index  
      # Thêm outlier vào dataframe
    outliers_df = pd.concat([outliers_df, df.loc[outlier_rows]], ignore_index=True)  
  return outliers_df.drop_duplicates()  
    # Xoá trùng (duplicate) nếu tồn tại

In [16]:
# In ra các phần tử bị outlier sau khi qua hàm
outlier_row_df = identify_outliers_zscore(merged_df.copy(), 3)
print(outlier_row_df)

          tconst  titleType  \
0      tt0000075      short
1      tt0000166      short
2      tt0000168      short
3      tt0000349      short
4      tt0000350      short
...          ...        ...
41289  tt9878574  tvEpisode
41290  tt9878576  tvEpisode
41291  tt9881616      movie
41292  tt9897038   tvSeries
41293  tt9900092   tvSeries

                                            primaryTitle  \
0      The Conjuring of a Woman at the House of Rober...
1      Salida de los trabajadores de la fábrica Españ...
2      Salida del público de la iglesia parroquial de...
3      What Came Out of the Cheese; or, The Lilliputi...
4      The Countryman's First Sight of the Animated P...
...                                                  ...
41289                                       Karamo Brown
41290                                        Jacob Tobia
41291                                    La filla d'algú
41292                                    Chip and Potato
41293                             Motherland: Fort Salem

                                           originalTitle isAdult startYear  \
0         Escamotage d'une dame au théâtre Robert Houdin       0      1896
1      Salida de los trabajadores de la fábrica Españ...       0      1897
2      Salida del público de la iglesia parroquial de...       0      1897
3      The Cheese Mites, or Lilliputians in a London ...       0      1901
4                   The Countryman and the Cinematograph       0      1901
...                                                  ...     ...       ...
41289                                       Karamo Brown       0      2019
41290                                        Jacob Tobia       0      2019
41291                                    La filla d'algú       0      2019
41292                                    Chip and Potato       0      2018
41293                             Motherland: Fort Salem       0      2020

      endYear runtimeMinutes                      genres  titleLength  \
0          \N              1                Horror,Short           54
1          \N              1           Documentary,Short           58
2          \N              1           Documentary,Short           66
3          \N              1                Comedy,Short           74
4          \N              1                Comedy,Short           53
...       ...            ...                         ...          ...
41289      \N             29       Comedy,News,Talk-Show           12
41290      \N             28       Comedy,News,Talk-Show           11
41291      \N             71                       Drama           15
41292      \N             23  Adventure,Animation,Comedy           15
41293    2022             42        Drama,Fantasy,Sci-Fi           22

       numGenres  averageRating  numVotes  \
0              2            6.3      2062
1              2            3.6        19
2              2            2.9        18
3              2            5.5       145
4              2            5.7       784
...          ...            ...       ...
41289          3            5.3        25
41290          3            5.2        28
41291          1            6.6        65
41292          3            6.2       227
41293          3            7.3     18809

                                               directors  \
0                                              nm0617588
1                                              nm0005717
2                                              nm0005717
3                                              nm0095816
4                                              nm0666972
...                                                  ...
41289                                nm2142199,nm2774033
41290                                          nm2142199
41291  nm5487558,nm2327950,nm9985563,nm10526485,nm791...
41292  nm2110365,nm2625612,nm4813436,nm0748843,nm1183...
41293  nm0850102,nm0463320,nm0011876,nm0292468,nm3345...

                                                 writers  writerCount
0                                                     \N            1
1                                                     \N            1
2                                                     \N            1
3                                                     \N            1
4                                                     \N            1
...                                                  ...          ...
41289  nm6194006,nm2174114,nm4012444,nm0810431,nm0935...           21
41290  nm6194006,nm2174114,nm4012444,nm0810431,nm0935...           21
41291  nm5487558,nm5402059,nm10526487,nm8845976,nm998...           17
41292  nm4674605,nm2702030,nm1354128,nm1393414,nm1371...           36
41293  nm2436744,nm6632654,nm3975663,nm7640985,nm4116...           16

[40590 rows x 16 columns]

In [17]:
# Tạo fitered_df = merged_df và xoá những hàng có chứa ít nhất 1 phần tử bị outlier
filtered_df = merged_df[~merged_df.index.isin(outlier_row_df.index)]  # Exclude rows in outlier_indices

# Gán filtered_df vào lại cho merged_df
merged_df = filtered_df

# In ra thông số của merged_df
print(merged_df.shape)

(965324, 16)

In [18]:
# XỬ LÝ PHẦN TỬ BỊ NHIỄU THEO BUSINESS LOGIC

In [19]:
# Loại bỏ dữ liệu nhiễu sử dụng business logic
# Thông thường, một bộ phim có trên 1000 lượt đánh giá sẽ được xem xét là đủ khách quan
# Lọc ra cá phần tử có lượt đánh giá nhỏ hơn 1000
filtered_df = merged_df[merged_df['numVotes'] < 1500]

# Print the filtered DataFrame
print(filtered_df.shape)

(905530, 16)

In [20]:
# Tiến hành lọc ra các phần tử có trên 1000 lượt đánh giá
filtered_df = merged_df[merged_df['numVotes'] > 1000]

# Gán filtered_df vào cho merged_df
merged_df = filtered_df.copy()

# In ra thông số của merged_df
print("merged_df: ")
print(merged_df.shape)

merged_df:
(79335, 16)

In [21]:
# XỬ LÝ CÁC PHẦN TỬ TRÙNG NHAU

In [22]:
# Tìm các phần tử bị trùng nhau ở cột primaryTitle
dup_row = merged_df[merged_df.duplicated(subset='primaryTitle', keep=False)]
print(dup_row)

            tconst  titleType        primaryTitle       originalTitle isAdult  \
22837    tt0040446      movie          Homecoming          Homecoming       0
23979    tt0041855      movie   The Secret Garden   The Secret Garden       0
24255    tt0042210      movie              Utopia             Atoll K       0
24399    tt0042367      movie  Cyrano de Bergerac  Cyrano de Bergerac       0
24404    tt0042372      movie              Dallas              Dallas       0
...            ...        ...                 ...                 ...     ...
1426183  tt9906260  tvEpisode                Hero                Hero       0
1426213  tt9907782      movie          The Cursed    Eight for Silver       0
1426243  tt9908860   tvSeries          Blown Away          Blown Away       0
1426261  tt9909484  tvEpisode       All About Eve       All About Eve       0
1426575  tt9916362      movie               Coven            Akelarre       0

        startYear endYear runtimeMinutes                      genres  \
22837        1948      \N            113       Drama,Mystery,Romance
23979        1949      \N             92                Drama,Family
24255        1950      \N             82                      Comedy
24399        1950      \N            113     Adventure,Drama,Romance
24404        1950      \N             94                     Western
...           ...     ...            ...                         ...
1426183      2019      \N             24  Action,Adventure,Animation
1426213      2021      \N            111      Fantasy,Horror,Mystery
1426243      2019      \N             23                  Reality-TV
1426261      2019      \N             42      Action,Adventure,Drama
1426575      2020      \N             92               Drama,History

         titleLength  numGenres  averageRating  numVotes  \
22837             10          3            6.8      1093
23979             17          2            7.5      3314
24255              6          1            5.5      2227
24399             18          3            7.4      4589
24404              6          1            6.2      1520
...              ...        ...            ...       ...
1426183            4          3            9.7    127555
1426213           10          3            6.2     16902
1426243           10          1            7.2      3973
1426261           13          3            7.6      1263
1426575            5          2            6.4      5809

                                       directors  \
22837                                  nm0503777
23979                                  nm0928208
24255    nm0423329,nm0077587,nm0332531,nm0924065
24399                                  nm0330456
24404                                  nm0374702
...                                          ...
1426183            nm2967345,nm2013928,nm1267452
1426213                                nm1193346
1426243                      nm2039645,nm2112409
1426261                                nm0004554
1426575                                nm1893148

                                                   writers  writerCount
22837                        nm0455549,nm0527331,nm0651585            3
23979                                  nm0034124,nm0122364            2
24255    nm0172559,nm0423329,nm0460029,nm0460130,nm0463...            8
24399                        nm0744562,nm0393613,nm0286025            3
24404                                            nm0878605            1
...                                                    ...          ...
1426183                      nm4697729,nm1639992,nm5003154            3
1426213                                          nm1193346            1
1426243  nm9910750,nm2378187,nm1867805,nm10567054,nm177...            8
1426261  nm0796950,nm0795975,nm0075528,nm0012100,nm1132...           12
1426575                                nm1893148,nm3471432            2

[16217 rows x 16 columns]

In [23]:
# Tìm các phần tử bị trùng nhau ở cột primaryTitle hoặc cột originalTitle
merged_df_duplicates = merged_df[merged_df.duplicated(subset=['primaryTitle', 'originalTitle'])]
print(merged_df_duplicates.shape)

(8558, 16)

In [24]:
# Xử lý các phần tử trùng nhau ở 2 cột

# Tạo merged_df_without_duplicates = merged_df sau khi xoá các phần tử và giữ lại phần tử đầu tiên
merged_df_without_duplicates = merged_df.drop_duplicates(subset=['primaryTitle', 'originalTitle'], keep = 'first')

# Gán merged_df_without_duplicates vào merged_df ban đầu
merged_df = merged_df_without_duplicates

# In ra thông số
print(merged_df.shape)

(70777, 16)

In [25]:
## file cleadned_data.csv đã có sẵn, nếu chưa thì hãy chạy cell code ở dưới

# Xuất dữ liệu DataFrame thành file CSV
file_path = 'cleaned_data.csv'
merged_df.to_csv(file_path, index=False)